* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: #fff;
  color: #303030;
  font-family: Arial, Helvetica, sans-serif;
}
.top {
  height: 77px;
  background: #e4f0fd;
  border-bottom: 1px solid #d5d5d5;
}
main {
  height: 425px;
  background: #fbe1e5;
  border-bottom: 1px solid #e8ccce;
  display: flex;
  gap: 50px;
  padding: 18px 0 0;
}
aside {
  width: 61px;
  flex-shrink: 0;
  text-align: right;
  font-size: 23px;
  line-height: 47px;
}
aside > * {
  display: block;
  padding-right: 10px;
  height: 47px;
}
aside strong {
  background: #fff;
  color: #111;
  font-size: 22px;
  height: 69px;
  line-height: 69px;
}
aside span:nth-child(even) {
  background: #fafaf7;
}
aside span {
  color: #666;
}
#chart {
  width: 592px;
  height: 295px;
  max-width: calc(100vw - 135px);
}
.instructions {
  max-width: 704px;
  padding: 36px 24px 40px;
  margin: auto;
}
.instructions h1 {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 14px;
}
.instructions p {
  font-size: 14px;
  color: #777;
  line-height: 1.7;
}
@media (max-width: 540px) {
  main {
    gap: 18px;
    height: 365px;
  }
  aside {
    width: 44px;
    font-size: 18px;
  }
  #chart {
    max-width: calc(100vw - 78px);
    height: 250px;
  }
  .top {
    height: 50px;
  }
}
